{% extends "base.html" %}
{% block content %}
<section id="about-container" class="container">
    <h1>About</h1><br><br>
    <p>This Portal is Created by Raja Tomar.</p>
    <br><p>
        I thought of creating an blog engine which would be build upon Python Flask Microframework.
        It was an fun project and I added features by small-small changes and I ended up creating it features rich
        and I am still working on this project and adding more features and content.
        You can have a look at the changelog and request features by contact page.
    </p>
</section>
<section id="changelog" class="container">
    <h1>Change Log</h1>


    <div class="version">
        <h3>2.0 </h3>
        <p># now you can manage your articles from your dashboard.</p>
        <p># get overview of your posts all at one place.</p>
    </div>
    <div class="version">
        <h3>1.7 </h3>
        <p># add, edit , delete articles.</p>
    </div>
    <div class="version">
        <h3>1.6 </h3>
        <p># look and feel updated.</p>
    </div>
    <div class="version">
        <h3>1.4 </h3>
        <p># added blog system.</p>
        <p># added commenting support.</p>
    </div>
    <div class="version">
        <h3>1.2 </h3>
        <p># added user accounts support.</p>
        <p># added contact requests.</p>
    </div>
    <div class="version">
        <h3>1.0 </h3>
        <p># First prototype test.</p>
    </div>
</section>


{% endblock %}