{% extends "base.html" %}
{% block content %}

<nav id="blog-nav">
    <ul class="no-bullet">
       <div class="container">
           <li class="#text"><h3>Blog</h3></li>
        <li><a href="#featured-posts">Featured</a></li>      
        <li><a href="#latest-posts">Latest</a></li>
        </div>
    </ul>
</nav>



<div class="grid-x container grid-padding-x">
<div class="cell large-7 small-12">
<section id="featured-posts" class="margin-y jumbo">
   
    {% if featured_posts %}
        <p class="lead">Featured</p>
        <div class="margin-y">
        
        {% for post in latest.items[:5] %}
            {% include "includes/_post_card.html" %}
        {% endfor %}
    </div>
    {% endif %}
</section>

<section id="latest-posts" class="margin-y jumbo">
    {% if latest %}
        

        <p class="lead">Latest</p>
        <div class="margin-y">
            {% for post in latest.items %}
            
                {% include "includes/_post_card.html" %}
            {% endfor %}
        </div>
        <div id="posts-pagination" class="row container pagination">
        <div class="float-left">
        {% if latest.has_prev %}
            <a href="{{ url_for('blog', page=latest.prev_num) }}" class="button round hollow"><i class="fi-arrow-left"></i> Newer posts</a>
        {% endif %}
        </div>
        <div class="float-right"> 
        {% if latest.has_next %}
            <a href="{{ url_for('blog', page=latest.next_num) }}" class="button round hollow">Older posts <i class="fi-arrow-right"></i></a>
        {% endif %}
        </div>
    </div>
    {% endif %}
</section>

</div>

<div class="cell large-4 small-12 large-offset-1">
<section id="post-categories" class="container margin-y jumbo">
    <p class="lead">Posts by Category</p>
    <ul class="categories-list no-bullet">
    {% for category in post_categories %}
        <li class="category">
            <a href="{{ url_for('post_category' , categoryID=category.id) }}"><span class="label primary">{{ category.category_name }}</span>  {{ category.len_category(category.id)}} Posts</a>
        </li>
    {% endfor %}
    </ul>
</section>
<section id="post-tags" class="container margin-y jumbo">
       <p class="lead">Posts by Tag</p>
        <ul class="tags-list no-bullet">
        {% for tag in tags %}
            <li class="tag-name">
                <a href="{{ url_for('post_tag' , tagID=tag.id) }}">{{ tag.tag_name }}</a>
            </li>
        {% endfor %}
        </ul>
    </section>
    </div>
</div>

{% endblock%}