{% extends "base.html" %}
{% block content %}
    
    <section id="form-container">
        <h1>Register</h1>
        <form action="" method="post" id="form-box" class="w3-animate-zoom">
            {{ form.hidden_tag() }}
            
                {{ form.username.label(class='label') }}
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                <span class="error-msg">{{ error }}</span>
                {% endfor %}

                {{ form.fullname.label(class="label") }}
                {{ form.fullname(size=32) }}
                {% for error in form.fullname.errors %}
                <span class="error-msg">{{ error }}</span>
                {% endfor %}
            
                {{ form.email.label(class='label') }}
                {{ form.email(size=32) }}
                {% for error in form.email.errors %}
                <span class="error-msg">{{ error }}</span>
                {% endfor %}
            
            
                {{ form.password.label(class='label') }}
                {{ form.password() }}
                {% for error in form.password.errors %}
                <span class="error-msg" size="32">{{ error }}</span>
                {% endfor %}
            
            
                {{ form.password2.label(class='label') }}
                {{ form.password2(size=32) }}
                {% for error in form.password2.errors %}
                <span class="error-msg" size="32">{{ error }}</span>
                {% endfor %}
            
            {{ form.submit(class="button expanded") }}

        </form>
    </section>


{% endblock %}