{% extends "base.html" %}

{% block content %}
<!-- content -->
<div class="container">
<section id="home-hero1">

    <div class="grid-x grid-padding-x">
        <picture>
           <img src="{{ url_for('static', filename='assets/img/hero1.jpeg')}}">
            </picture>
        <div class="box1 cell large-5 small-12">
            <h1>Welcome {{ current_user.username}}</h1>
            <p>Hey There! You are Welcome to the Portal..</p>
            <p>You can read a tons of articles and also write one of your own also and show off about your adventures or passion.</p>
            <br>
            <a href="#home-hero2" class="button hollow">Read More</a>
           </div>
    </div>
</section>
</div>

<div class="container">
<section id="home-hero2">

    <div class="grid-x grid-padding-x">
        <picture>
           <img src="{{ url_for('static', filename='assets/img/hero2.png')}}">
            </picture>
        <div class="box1 cell large-5 small-12">
           <h1>Read the Latest Blog Feed</h1>
            <p>You can read finely written series of articles or even you can start writing one from dashboard.</p>
            <br>
            <a href="{{ url_for('blog')}}" class="button hollow">See Blog</a>
        </div>
    </div>
</section>
</div>



{% endblock %}
